body{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgba(238, 115, 238, 0.5);
    color: purple;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: purple;
}
.image{
    border: 2px solid purple;
    border-radius: 8px;
}
